<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page layout</title>
</head>
<body>
    <div id="container">
        <h1>layout布局</h1>

        <h2>两列布局</h2>
        <h3>使用float来实现</h3>
        <div class="box box1 float">
            <div class="box-item item1"></div>
            <div class="box-item item2"></div>
        </div>
        <h3>使用flex来实现</h3>
        <div class="box box1 flex">
            <div class="box-item item1"></div>
            <div class="box-item item2"></div>
        </div>

        <h2>三列布局</h2>
        <h3>使用float实现</h3>
        <div class="box box2 float">
            <div class="box-item item1"></div>
            <div class="box-item item2"></div>
            <div class="box-item item3"></div>
        </div>
        <h3>使用flex实现</h3>
        <div class="box box2 flex">
            <div class="box-item item1"></div>
            <div class="box-item item2"></div>
            <div class="box-item item3"></div>
        </div>

    </div>

    <script type="text/javascript" src="/libs/jquery-1.11.1.js"></script>
</body>
</html>