@import '../../assets/scss/variables.scss';

body {
    background-color: $bgGrey;
}

h2{
    border-top: $borderStyle;
    margin: 50px 0 10px;
    padding: 10px 0;
}

div.inner-center{
    height: 50px;
    border: 1px solid black;
}
div.inner-center.normal{
    text-align: center;
    line-height: 50px;
}
div.inner-center.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.block-center{
    height: 100px;
    border: 1px solid black;
}
div.inner-block{
    border: 1px solid black;
    width: 100px;
    height: 30px;
}
div.inner-block.normal{
    margin: 35px auto;
}
div.block-center.abs{
    position: relative;
}
div.inner-block.abs{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -50px;
}
div.block-center.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}



div.sel2 p.sel3{
    color: red;
}
p.sel3{
    color: green;
}
.sel3{
    color: yellow;
}
#sel3-id{
    color: purple;
}